@model BLTC.Web.ViewModels.Manufacturers.ManufacturersInfoViewModel
<link href="~/css/manufacturersinfopage.css" asp-append-version="true" rel="stylesheet" />
<script type="text/javascript" src="~/js/imagesmagnifier.js" async asp-append-version="true"></script>
<div class="about-section">
    <h1>Who are we?</h1>
    <h4>@this.Model.Name <small>Refinery</small></h4>
    <img src="/images/logos/@this.Model.Logo.Name" alt="Company logo" />
    <p>Contry of origin: @this.Model.Country</p>
    <p>@this.Model.Overview</p>
</div>
<h2 style="text-align:center">Our Products:</h2>
<div class="row">
    @foreach (var product in this.Model.Products)
    {
        <div class="column">
            <div class="card">
                <img id="productImg" src="~/images/items/pamp-gold-five-ounce-front.jpg" alt="Product image" class="img-fluid">
                <div class="card-contrainer">
                    <h6>@product.Name</h6>
                    <p class="type">@product.Type</p>
                    <p>@product.Description</p>
                    <p><small>from: </small>@product.Price  €</p>
                    <p><a id="viewBtn" href="/Items/Details?itemId=@product.Id" class="button-view">View</a></p>
                </div>
            </div>
        </div>
    }
</div>

