@model BLTC.Web.ViewModels.Items.ItemEditInputModel

<div>
    <input asp-for="ItemId" type="hidden" />
    <input id="typeId" type="hidden" value="@this.Model.Type" />
    <input id="finenessId" type="hidden" value="@this.Model.Fineness" />
    <input id="shapeId" type="hidden" value="@this.Model.Shape" />
    <input id="manufacturerId" type="hidden" value="@this.Model.ManufacturerId" />
    <div class="image-area mt-4">
        <output class="form-group" id="list">
            @foreach (var image in this.Model.Images)
            {
                <span>
                    <img id="image" class="img-fluid rounded shadow-sm mx-auto d-block" src="~/images/items/@image.Name" title="@image.Name" asp-append-version="true" />
                    <button class="btn btn-danger form-group float-right" onclick="deleteImage()">DELETE</button>
                    <br />
                </span>
            }
        </output>
    </div>
    <div id="btns-container" class="d-flex justify-content-around">
        <button id="addBtn" type="submit" class="btn btn-lg btn-success text-white mb-3">Update</button>
        <button id="cancelBtn" class="btn btn-lg btn-secondary text-white mb-3" asp-area="Administration" asp-controller="Items" asp-action="All">Cancel</button>
    </div>
</div>
