@model BLTC.Web.ViewModels.Items.ItemsAllListViewModel<BLTC.Web.ViewModels.Items.ItemsAllViewModel>

@{
    this.ViewData["Title"] = "All Items";
}

<div>
    <h1 class="text-center mt-2">All Items</h1>
    <hr class="bg-primary w-75">
    <div class="row mt-2 mb-4">
        @foreach (var item in this.Model.Items)
        {
            <div class="col-md-3 col-sm-4 col-xs-6">
                <img id="productImg" src="/images/items/pamp-gold-five-ounce-back.jpg" class="img-fluid" asp-append-version="true" />
                <div class="card-body">
                    <h6 class="text-center">
                        <a asp-controller="Items" asp-action="Details" asp-route-itemId="@item.Id"><small>@item.Name</small></a>
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span> <small>from</small> @item.Price €</span>
                            <span id="available" class="badge badge-success">@item.Quantity</span>
                        </li>
                    </ul>
                    <a id="viewBtn" class="btn btn-block btn-primary" asp-controller="Items" asp-action="Details" asp-route-itemId="@item.Id">View</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/itemavailabilitycontrol.js" asp-append-version="true" async></script>
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
