@model BLTC.Web.ViewModels.Items.ItemDetailsViewModel

@using BLTC.Common;

<div>
    <header>
        <h1 class="text-center mt-2">@this.Model.Name</h1>
        <hr class="bg-primary w-75">
        <link href="~/css/itemsdetailspage.css" rel="stylesheet" asp-append-version="true" />
    </header>
    <div id="outOfStockAlert" class="alert alert-danger" role="alert"></div>
    <div class="row mt-2 mb-4">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                @foreach (var image in this.Model.Images)
                {
                    <img src="/images/items/@image.Name" class="img-fluid" asp-append-version="true" />
                }
            </div>
            <div class="col-lg-5 col-md-5 col-sm-8">
                <div class="col-sm-9">
                    <input id="available" type="hidden" value="@this.Model.Quantity" />
                    <p>
                        <span><strong>Manufacturer: </strong> <a asp-area="" asp-controller="Manufacturers" asp-action="Info" asp-route-manufacturerId="@this.Model.ManufacturerId" class="btn btn-outline-info btn-lg">@this.Model.ManufacturerName</a> </span>
                    </p>
                    <img id="manufacturerLogo" src="/images/logos/@this.Model.ManufacturerLogo.Name" alt="Manufacturer logo" class="card-img-top img-fluid card-image pt-3" asp-append-version="true" />
                    <p>
                        <span><strong>Weight (grams): </strong>@this.Model.Weight</span>
                    </p>
                    <p>
                        <span><strong>Pure Gold content (grams): </strong>@this.Model.Purity</span>
                    </p>
                    <p>
                        <span><strong>Fineness: </strong>@this.Model.Fineness</span>
                    </p>
                    <p>
                        <span><strong>Dimensions: </strong>@this.Model.Dimensions</span>
                    </p>
                </div>
                <a id="buyBtn" href="/Items/AddToCart?itemId=@this.Model.Id" class="btn btn-block btn-success">Buy</a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a id="editBtn" class="btn btn-block btn-danger" asp-area="Administration" asp-controller="Items" asp-action="Disprove" asp-route-itemId="@this.Model.Id">Refute</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/buybtncontrol.js" asp-append-version="true" async></script>
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
