@model BLTC.Web.ViewModels.Items.ItemDetailsViewModel
@using BLTC.Common;

@{
    this.ViewData["Title"] = "Details page";
    var isAdmin = this.User.IsInRole(GlobalConstants.AdministratorRoleName);
    var isAvailable = this.Model.Quantity >= 1 ? "In Stock" : "Out Of Stock";
}

<div>
    <header>
        <h1 class="text-center mt-2">@this.Model.Name</h1>
        <hr class="bg-primary w-75">
        <link href="~/css/itemsdetailspage.css" rel="stylesheet" asp-append-version="true" />
    </header>
    <div id="outOfStockAlert" class="alert alert-danger" role="alert"></div>
    <div class="row mt-2 mb-4">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                @foreach (var image in this.Model.Images)
                {
                    <img src="/images/items/@image.Name" class="img-fluid" asp-append-version="true" />
                }
            </div>
            <div class="col-lg-5 col-md-5 col-sm-8">
                <div class="card-body col-sm-9">
                    <input id="available" type="hidden" asp-for="@this.Model.Quantity" />
                    <p>
                        <span><strong>Manufacturer: </strong> <a asp-controller="Manufacturers" asp-action="Info" asp-route-manufacturerId="@this.Model.ManufacturerId" class="">@this.Model.ManufacturerName</a> </span>
                    </p>
                    <img id="manufacturerLogo" src="/images/logos/@this.Model.ManufacturerLogo.Name" alt="Manufacturer logo" class="card-img-top img-fluid card-image pt-3" asp-append-version="true" />
                    <p>
                        <span><strong>Weight (grams): </strong>@this.Model.Weight</span>
                    </p>
                    <p>
                        <span><strong>Pure Gold content (grams): </strong>@this.Model.Purity</span>
                    </p>
                    <p>
                        <span><strong>Fineness: </strong>@this.Model.Fineness</span>
                    </p>
                    <p>
                        <span><strong>Dimensions: </strong>@this.Model.Dimensions</span>
                    </p>
                    <p>
                        <span id="available"><strong>Availability: </strong> <small class="badge badge-warning">@isAvailable</small></span>
                    </p>
                </div>
                @if (isAdmin && this.Model.IsApproved)
                {
                    <a id="buyBtn" asp-controller="Items" asp-action="AddToCart" asp-route-itemId="@this.Model.Id" class="btn btn-block btn-success">Buy</a>
                    <a id="refuteBtn" class="btn btn-block btn-danger" asp-area="Administration" asp-controller="Items" asp-action="Disprove" asp-route-itemId="@this.Model.Id">Refute</a>
                }
                else if (isAdmin && !this.Model.IsApproved)
                {
                    <a id="approveBtn" class="btn btn-group-lg btn-primary" asp-area="Administration" asp-controller="Items" asp-action="Approve" asp-route-itemId="@this.Model.Id">Approve</a>
                    <a id="editBtn" class="btn btn-group-lg btn-success" asp-area="Administration" asp-controller="Items" asp-action="Edit" asp-route-itemId="@this.Model.Id">Edit</a>
                    <a id="deleteBtn" class="btn btn-group-lg btn-danger" asp-area="Administration" asp-controller="Items" asp-action="Delete" asp-route-itemId="@this.Model.Id">Delete</a>
                }
                else
                {
                    <a id="buyBtn" href="/Items/AddToCart?itemId=@this.Model.Id" class="btn btn-block btn-success">Buy</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/buybtncontrol.js" asp-append-version="true" async></script>
    <script src="~/js/imagesmagnifier.js" asp-append-version="true" async></script>
}
