@model BLTC.Web.ViewModels.Items.ItemEditInputModel

@{
    this.ViewData["Title"] = "Edit Item";
    var user = this.User.Identity.Name;
}

<div>
    <header>
        <h1 class="text-center mt-2">@this.ViewData["Title"]</h1>
        <hr class="bg-primary w-75">
    </header>
    <form enctype="multipart/form-data" class="mx-auto w-50" method="post">
        <partial name="_ItemInputPartial" />
        <div>
            <input asp-for="ItemId" type="hidden" />
            <input id="typeId" type="hidden" asp-for="@this.Model.Type" />
            <input id="finenessId" type="hidden" asp-for="@this.Model.Fineness" />
            <input id="shapeId" type="hidden" asp-for="@this.Model.Shape" />
            <input id="manufacturerId" type="hidden" asp-for="@this.Model.ManufacturerId" />
            <div class="image-area mt-4">
                <output class="form-group" id="list">
                    @foreach (var image in this.Model.Images)
                    {
                        <span>
                            <img id="image" class="img-fluid rounded shadow-sm mx-auto d-block" src="~/images/items/@image.Name" title="@image.Name" asp-append-version="true" />
                            <button class="btn btn-danger form-group float-right" onclick="deleteImage()">DELETE</button>
                            <br />
                        </span>
                    }
                </output>
            </div>
            <div id="btns-container" class="d-flex justify-content-around">
                <button id="addBtn" type="submit" class="btn btn-lg btn-success text-white mb-3">Update</button>
                <button id="cancelBtn" class="btn btn-lg btn-secondary text-white mb-3" asp-area="Administration" asp-controller="Items" asp-action="Pending">Cancel</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/addimagestoitem.js" asp-append-version="true" async></script>
    <script src="~/js/adduploadedimagesasfiles.js" asp-append-version="true" async></script>
    <script src="~/js/selectedmenuvalues.js" asp-append-version="true" async></script>
    <script>function deleteImage() { var a = Array.from(document.getElementById("list").children).indexOf(event.target.parentNode); document.querySelector("#list").removeChild(document.querySelectorAll("#list span")[a]); var b = document.getElementById("Files"), c = b.nextElementSibling, d = Array.from(b.files); d.splice(a, 1), b.files = new function (a) { for (var c = new ClipboardEvent("").clipboardData || new DataTransfer, b = 0, d = a.length; b < d; b++)c.items.add(a[b]); return c.files }(d), c.innerHTML = 1 < b.files.length ? b.files.length + " selected files" : 1 == b.files.length ? b.files[0].name : "Choose File..." }</script>
}